@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');



/*******menu*******/
.menuContext{
 overflow: auto;
 height: 30%;
 width: 100%;
}

.menuContext::-webkit-scrollbar {
  display: none;
}

#menu.menu::-webkit-scrollbar{
  display: none;
}

#menu.menu{
  height: 30%;
}
.menu
  {
    position: relative;
    overflow: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    
    /* position: absolute !important; */
    /* top: 0; */
    width: 100%;
    /* z-index: 999; */
    margin-top: 70px;
    margin: auto;
    height: 20px;
    border-spacing: 40px 0px;
    padding: 00px 0px 0px 0px;
  }

  .menu a{
  
    float: left;
    color: white;
    text-align: center;
    padding: 8px 60px 0px 0px;
    text-decoration: none;
    font-size: 160%;
    font-family: cursive;
    list-style: solid;
    margin-bottom: 0px;
    height: 10px;
  }

  .menu a:hover
  {
    background-image: url("../images/menuBg.jpeg") ;
    background-size: cover;
    background-repeat: round;
    padding-top: 0;
    font-size: 200%;
    font: outline;
    color: white;
    /* height: 50%; */
  }

  .menu > img {
    display: block; 
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }
  
  .menu:hover > img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  @media screen and (max-width: 500px) {
    .menu a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

/***********************************************/

  .main {
    display: block;
    margin-top: 100px;
    margin: 0;
    height: 250px; /* Used in this example to enable scrolling */
  }

.mainContainer{
  padding: 0px 0px 0px 0px ;
}

section{
  height: 60%;
}

h1{
    font-family: cursive;
}

#headerPage{
  width: 100% !important; 
  height: 250px; 
  background: url('../images/logo2.JPG');
  background-size: cover;
  background-repeat: round;
}

/* @media only screen and (min-width: 1366px) {

  #headerPage{
          width: 100%;
          height: auto;
          background-size: 100% auto !important;
  }
} */


/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: black;
  height: 20px;
  padding: 1rem;
  text-align: center;
} */
 

/* 
* {
  font-family: Open Sans;
} */

/* section {
  
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
} */


.footer-distributed{
  /* background: #666; */
  border-top: white solid 2px;
  background-color: #686868;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.fa-linkedin:hover{
  color: #0e76a8;
  /* border:  white solid 1px;  */
} 

.fa-facebook:hover{
  color: #3b5998  ;
} 

.fa-github:hover{
  color: #6cc644  ;
  /* background-color: #6cc644; */
}
